.chatContainer{
    height: 70vh;
    width: 60%;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.76);
    margin: auto;
    border-radius: 10px;
    border: 3px white solid ;
}

.myMessage{
    justify-content: end;
    margin-right: 0;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    text-align: end;
    line-break: strict;
}

.anotherMessage{
    width: fit-content;
    margin: 10px;
    padding: 5px;
    text-align: start;
}

.messageTextMine{
    background-color: #78c596;
    border-radius: 5px;
    text-align: left;
    display: flex;
    padding: 8px;
    width: 100%;
    height: auto;
    
}

.messageTextAnother{
    background-color: #7fddf5;
    padding: 8px;
    border-radius: 5px;
}

.yourInputMessage{
    background-color: #b0b498;
    padding: 10px;
    border-radius: 5px;
}